.grid {
  background-color:#a5a2;
  width: 200px;
  height: 400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  height: 20px;
  width:20px;
}

.start-btn {
  margin-bottom: 20px;
}

.container-game {
  display: flex;
  width: 300px;
  margin: auto;
}
/* Class Lists*/
.tetromino {
  background-color: green;
}

.mini-grid {
  width: 80px;
  height: 80px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  background-color: red;
}

.mini-grid div {
  width: 20px;
  height: 20px;

}